<!DOCTYPE html>
<html>
<head>
  <title>IamService</title>
  <%= stylesheet_link_tag    "iam_service/application", media: "all" %>
  <%= javascript_include_tag "iam_service/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
